# Development Port
PORT = 

# Development Log
NODE_ENV = development

# Development Database
DATABASE_MARIA = 
USERNAME_MARIA = 
PASSWORD_MARIA = 
# For Dev Export Run Docker and Use this Host_MARIA
# HOST_MARIA = host.docker.internal
# For Dev General run in local
HOST_MARIA = localhost

# For Connect with Global DB
#HOST_MARIA = dekdee2.informatics.buu.ac.th
DIALECT_MARIA = mariadb
PORT_MARIA = 

secretKey = 

adUrl = 
baseDN = 

# Deploying Path For Access Public
fileAccess = 

# Path For Access Public
fileAccess = 

# For mail helper
IP_MAIL = smtp.gmail.com
USER_MAIL = อีเมลที่จะใช้เป็นผู้ส่ง
PASSWORD_MAIL = (เจนรหัสมาวางตามวิดิโอนี้ครับ) https://www.youtube.com/watch?v=HHe-fXzNEQo&t=599s&ab_channel=Graphic2B

# ==================================== External Services =======================================================

# client
# client's data to call external services
clientSecret = 
clientID = 
userID = 

# e-sign
# API end-point for e-sign services
signAuth = https://kong-dev.buu.ac.th/e-sign/e-sign.CheckCertificateAndSignatureByPerson/oauth2/token
sign = https://kong-dev.buu.ac.th/e-sign/e-sign.CheckCertificateAndSignatureByPerson
stamperAuth = https://kong-dev.buu.ac.th/service-api/e-sign.setaStamper.MultiStampTextSignElectronicSignatureWithImage/oauth2/token
stamper = https://kong-dev.buu.ac.th/service-api/e-sign.setaStamper.MultiStampTextSignElectronicSignatureWithImage
# Provision key for e-sign services
signKey = 
stamperKey = 

# minIO
# API end-point for minIO services
putFileAuth = https://kong-dev.buu.ac.th/service-api/minio.PutFile/oauth2/token
putFile = https://kong-dev.buu.ac.th/service-api/minio.PutFile
getFileAuth = https://kong-dev.buu.ac.th/service-api/minio.GetPublicFile/oauth2/token
getFile = https://kong-dev.buu.ac.th/service-api/minio.GetPublicFile
deleteFileAuth = https://kong-dev.buu.ac.th/service-api/minio.DeleteFile/oauth2/token
deleteFile = https://kong-dev.buu.ac.th/service-api/minio.DeleteFile
# Provision key for minIO services
putFileKey = 
getFileKey = 
deleteFileKey = 

# ums
# API end-point for ums services
ePersonAuth = https://kong-dev.buu.ac.th/service-api/ums.SPersonByInformatics/oauth2/token
ePersonData = https://kong-dev.buu.ac.th/service-api/ums.SPersonByInformatics
# Provision key for ums services
ePersonKey = 

